<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset = "UTF-8">
	<title>{{ title }}</title>
	<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel = 'stylesheet' href = '{{ url_for("static", filename="style.css") }}'>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li id="logo"><a href='{{ url_for("index") }}'>Prau'G INFO</a></li>
				<li><a href='{{ url_for("agiLOG") }}'>agiLOG</a></li>
				<li><a href='{{ url_for("agiLEAN") }}'>agiLEAN</a></li>
				<li><a href='{{ url_for("agiPART") }}'>agiPART</a></li>
				<li><a href='{{ url_for("agiGREEN") }}'>agiGREEN</a></li>
			</ul>
		</nav>
	</header>

	{% block content %}{% endblock %}

	<footer>
		<!--
		<h2>Contactez-nous</h2>
		<form>
			<input placeholder="Nom">
			<input placeholder="email">
			<textarea placeholder = "Votre message"></textarea>
			<button>Envoyer</button>
		</form>
		-->
		<div id ="deuxiemeTrait"></div>
		<div id ="copyrightEtIcons">
			
			<div id = "icons">
				<img src='{{ url_for("static", filename="AM beige.png") }}' alt = "am trad'ss"  width="32" height="32">
			</div>
		</div>
	</footer>
</body>
</html>
