<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset = "UTF-8">
	<title>{{ title }}</title>
	<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel = 'stylesheet' href = '{{ url_for("static", filename="style.css") }}'>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li id="logo"><a href="#">Prau'G INFO</a></li>
				<li id="nousContacter"><a href="#">Nous Contacter</a></li>
				<li>PouPiPou</li>
			</ul>
		</nav>
	</header>

	{% block content %}{% endblock %}

	<footer>
		<h2>Contactez-nous</h2>
		<form>
			<input placeholder="Nom">
			<input placeholder="email">
			<textarea placeholder = "Votre message"></textarea>
			<button>Envoyer</button>
		</form>
		<div id ="deuxiemeTrait"></div>
		<div id ="copyrightEtIcons">
			<div id = "copyright">
				<span>© GIRAULT</span>
				<span>MONTOYA</span>
			</div>
			<div id = "icons">
				<a href = "http://www.twitter.fr"><i class = "fa fa-twitter"></i></a>
				<a href = "http://www.facebook.fr"><i class = "fa fa-facebook"></i></a>
				<a href = "http://www.instagram.com"><i class = "fa fa-instagram"></i></a>
			</div>
		</div>
	</footer>
</body>
</html>