{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>Prau'G INFO</h1>
	<div id = "premierTrait"></div>
	<h3>C'est AgiLOG</h3>
</div>
<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
		<h2> Catalogue AgiLOG</h2>
		</div>
		<div class = "listeliens">
			<ul>
				<li id="lienStock"><a href='{{ url_for("stock") }}'>Affihage Stock</a></li>
				<li id="lienCommande"><a href='{{ url_for("commandes") }}'>Passer une Commande</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}