{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLOG</h1>
	<div id = "premierTrait"></div>
	<h3>Prau'G INFO</h3>
</div>
<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
		<h2> Catalogue AgiLOG</h2>
		</div>
		<div class="listeliens">
			<ul>
				<li><a href='{{ url_for("stock") }}'>Affihage Stock</a></li>
				<li><a href='{{ url_for("commande_pieces") }}'>Commander les pièces sous le seuil</a></li>
				<li><a href='{{ url_for("commande_pieces",forcer="True") }}'>Commander des pièces</a></li>
				<li><a href='{{ url_for("historique", entite="AgiLog") }}'>Historique des commandes</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}