 {% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLOG</h1>
	<div id = "premierTrait"></div>
	<h3>Stock</h3>
</div>

<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
		<h2>Initialisation des données relatives Stocks</h2>
		</div>
	</section>

	<form method="post">
		<section id="stock">
			<table class="cinereousTable">
				<thead>
					<tr>
						{% for entete in liste_entete %}
						<th>{{entete}}</th>
						{% endfor %}
						{% for entete in liste_entete_input %}
						<th>{{entete}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for piece in liste_stock %}
						<tr>
							{% for case in liste_case %}
							<td>{{piece[case]}}</td>
							{% endfor%}
							{% for case in liste_case_input %}
							<td> <input class="stock-input" type="text" name='{{ piece["id"]|string+"-"+case }}' value="{{piece[case]}}"/> </td>
							{% endfor%}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<input type="submit" value="Valier"/>
		</section>
	</form>
</div>
{% endblock %}