{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLEAN</h1>
	<div id = "premierTrait"></div>
	<h3>Prau'G INFO</h3>
</div>

<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
		<h2> Catalogue AgiLEAN</h2>
		</div>
		<div class = "listeliens">
			<ul>
				<li><a href='{{ url_for("affichage_kits") }}'>Liste des kits</a></li>
				<li><a href='{{ url_for("creation_kit") }}'>Création d'un kit</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}