{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>Prau'G INFO</h1>
	<div id = "premierTrait"></div>
	<h3>C'est AgiLOG</h3>
</div>
<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
		<h2> Catalogue AgiLOG</h2>
		</div>
		<div>
			<ul>
				<li class="listeliens"><a href='{{ url_for("stock") }}'>Affihage Stock</a></li>
				<li class="listeliens"><a href='{{ url_for("commande_pieces") }}'>Commander les pièces sous le seuil</a></li>
				<li class="listeliens"><a href='{{ url_for("commande_pieces",forcer="True") }}'>Commander des pièces</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}