{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLean</h1>
	<div id = "premierTrait"></div>
	<h3>Kits</h3>
</div>

<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
			<h2>Détail du kit "{{donnee_kit["nom"]}}"</h2>
			<li class="listeliens"><a href='{{ url_for("affichage_kits") }}'>Retour aux kits</a></li>
		</div>
	</section>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

	<section>
		<table class="cinereousTable" id="detailCommandeTable">
			<thead>
				<tr>
					{% for entete in liste_noms_entete %}
					<th>{{entete}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for piece in liste_pieces %}
					<tr>
						{% for case in liste_noms_case %}
						<td>{{piece[case]}}</td>
						{% endfor%}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div>
{% endblock %}