 {% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLean</h1>
	<div id = "premierTrait"></div>
	<h3>Kits</h3>
</div>

<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
			<h2>Création d'un kit</h2>
			<li class="listeliens"><a href='{{ url_for("affichage_kits") }}'>Retour aux kits</a></li>
		</div>
	</section>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

	<form method="post">
		<section id="tableau_pieces">
			<input id="name-input" type="text" name='nom' value='' placeholder="nom du kit"/>
			<table class="cinereousTable">
				<thead>
					<tr>
						{% for entete in liste_entete %}
						<th>{{entete}}</th>
						{% endfor %}
						{% for entete in liste_entete_input %}
						<th>{{entete}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for piece in liste_pieces %}
						<tr>
							{% for case in liste_case %}
								<td>{{piece[case]}}</td>
							{% endfor%}
							{% for case in liste_entete_input %}
								<td> <input class="kits-input" type="text" name='{{ piece["code_article"] }}' value='0'/></td>
							{% endfor%}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<input type="submit" value="Valider"/>
		</section>
	</form>
</div>
{% endblock %}
