{% extends "base.html" %}
{% block content %}
<div id = "imagePrincipale">
	<h1>AgiLean</h1>
	<div id = "premierTrait"></div>
	<h3>Kits</h3>
</div>

<div id ="mainBody">
	<section id = "presentation">
		<div id = "textIntro">
			<h2>Liste des kits</h2>
			<li class="listeliens"><a href='{{ url_for("creation_kit") }}'>Création d'un kit</a></li>
		</div>
	</section>

	<section id="tableau_pieces">
		<table class="cinereousTable" id="listeCommandeTable">
			<thead>
				<tr>
					{% for entete in liste_noms_entete %}
					<th>{{entete}}</th>
					{% endfor %}
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for kit in liste_kits %}
					<tr>
						{% for case in liste_noms_case %}
							{% if kit[case]!=None %}
								{% set value=kit[case] %}
							{% else %}
								{% set value='' %}
							{% endif %}
							<td><a class='lienTable' href='{{ url_for("detail_kit",id_kit=kit["id"]) }}'>{{value}}</a></td>
						{% endfor%}
						<td><a class='lienTable' href='{{ url_for("detail_kit",id_kit=kit["id"]) }}'><button type="submit" value="Editer">Détails</button></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div>
{% endblock %}